.text-gradient {}

.nav-item {
  text-decoration: none;
  color: white;
}

.signup {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=800&q=80');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  
}


.cool-link {
  position: relative;
  transition: color 0.3s ease;
}

.cool-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #ff7e5f;
  transition: width 0.3s ease;
}

.cool-link:hover {
  color: #ece4e2 !important;
}

.cool-link:hover::after {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}